/* for index.html */
#splash, #board-content{
    padding:0px;
}
#splash img{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

.note{
    display:none;
}



.segmented-control{
    text-align:center;
}
.segmented-control .ui-controlgroup{
    margin: 0.2em;
}
.ui-control-active, .ui-control-inactive{
    border-style:solid;
    border-color:gray;
}
.ui-control-active{
    background:#BBB;
}
.ui-control-inactive{
    background:#DDD;
}

#board_canvas{
    Background:black;
    padding:0px;
    margin:0px;
}
