.splash img{
    width:100%;
    height:100%;

}


#home{
    background-image:url(img/milu.png);
    text-align:center;
}

.segmented-control{
    text-align:center;
}
.segmented-control .ui-controlgroup{
    margin: 0.2em;
}
.ui-control-active, .ui-control-inactive{
    border-style:solid;
    border-color:gray;
}
.ui-control-active{
    background:#BBB;
}
.ui-control-inactive{
    background:#DDD;
}

#grid{
    background:black;
    padding:0px;
    margin:0px;
}

#canvas-content{
    padding:0px;

}
